.ipynb_checkpoints/
__pycache__
test.txt
googleNews.d2v
googleNews.d2v.vectors.npy

instance_types_en.ttl
short_abstracts_en.ttl

DBpedia_map_type_entities-Copy1.ipynb
xaa
xaa_small_abs
DBpedia_map_entity_abstract.json
DBpedia_map_type_entities.json

DBpedia_map_type_abstract_withID.json
DBpedia_map_type_abstract.json
DBpedia_map_type_entities.json



extracted_features
project_report
ElasticSearch_map_type_docID.json

test_DBpedia_map_entity_abstract.ipynb
test_DBpedia_map_type_entities.ipynb
test.ipynb

index_DBpedia_type_centric-Copy1.ipynb
index_DBpedia_entity-centric-Copy1.ipynb

prepare_training_data-Copy1.ipynb
advanced-type-prediction_no_run_file

test_DBpedia_map_entity_abstract.json
test_DBpedia_map_type_abstract.json
test_DBpedia_map_type_entities.json

prepare_training_data.ipynb
prepare_training_data-optimized.ipynb
prepare_training_data-optimized-2.ipynb
names.csv
indexer.log


Knowledgebase_map_type_features_13to16.json
ElasticSearch_map_docID_type.json
DBpedia_map_docID_docLength.json

finalized_model.sav
training_types.json
main_2.py
for_training_type_label_alltypes.csv
train_and_predict.ipynb
advanced_results_2.csv
main - Copy.py

advanced-type-prediction/baseline_method.py